<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosmo.studycastle">
    <!-- 인터넷권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MembersJoin"></activity>
        <activity android:name=".MyInfoModifyAction" />
        <activity android:name=".MyInfoModify" />
        <activity android:name=".MyInfo" />
        <activity android:name=".MyPage" />
        <activity android:name=".Login" /> <!-- 네이버 지도 사용을 위한 추가부분분 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="wkmdhenf78" />

        <activity android:name=".ClassDetailInfo" />
        <activity android:name=".AcademyDetailView" />
        <activity android:name=".AcademyList" />
        <!--
            .MainActivity의 하위 엘리먼트인 <intent-filter>
            부분을 .Intro하위로 이동한다.
            해당 엘리먼트를 가진 액티비티가 제일 먼저 실행하게 된다.
        -->
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>